$buttonText: #000000;
$contactsAdress: #d6936d;
$contactsHours: #ababab;
$contactsLine: #e1e1e1;
$accentColor: #f8d24e;
$hoverGreenColor: #0a8817;
$primaryBgColor: #84a278;
$bgWhite: #fcfcfc;
$bgModal: #fcfcfc;
$inputModal: rgba(252, 248, 235, 1);
$inputBorder: #84a178;
$blackColor: #000000;
$greyColor: #ababab;
$primaryTextColor: #FCFCFC;
$secondaryTextColor: #131313;

$durationTiming: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primaryFontFam: 'Montserrat', sans-serif;
$secondaryFontFam: 'Seymour One', sans-serif;