<footer class="footer">
    <div class="footer__footer-box">
        <div class="footer__container container">
            <div class="footer__title-box">
                <p class="footer__title">homemade ice cream made</p>
                <p class="footer__accent">with passion</p>
            </div>
            <div class="footer__box-bottom">
                <div class="footer__soc-box">
                    <ul class="soc-link-list">
                        <li>
                            <a href="https://www.github.com/" aria-label="github" class="soc-link" target="_blank" rel="noreferrer noopener"><svg class="icon-soc" width="20" height="20">
                                    <use href="./images/icons.svg#icon-github"></use>
                                </svg></a>
                        </li>
                        <li>
                            <a href="https://www.telegram.org/" aria-label="telegram" class="soc-link" target="_blank" rel="noreferrer noopener"><svg class="icon-soc" width="20" height="20">
                                    <use href="./images/icons.svg#icon-telegram"></use>
                                </svg></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" aria-label="facebook" class="soc-link" target="_blank" rel="noreferrer noopener"><svg class="icon-soc" width="20" height="20">
                                    <use href="./images/icons.svg#icon-facebook"></use>
                                </svg></a>
                        </li>
                    </ul>
                </div>
                <div class="footer__phone-box">
                    <p class="footer__phone-title">Feel free to contact&nbsp;</p>
                    <a class="phone-link" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </div>
            </div>   
        </div>   
            <div class="footer__copyright-box">
                <p class="footer__copyright-title">&#169; 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>
