<section class="section gallery">
    <div class="swiper gallery__swiper">
      <ul class="gallery__swiper-wrapper swiper-wrapper">
        <li class="gallery__swiper-slide swiper-slide">
          <picture class="gallery__item">
            <source class="gallery__item"
              srcset="
                ../src/images/gallery/1gallery1x-des-min.jpg 1x,
                ../src/images/gallery/1gallery2x-des-min.jpg 2x
              "
            />
            <img class="gallery__item"
              src="../src/images/gallery/1gallery1x-des-min.jpg"
              alt="IceCream"
              width="1013"
              height="422"
            />
          </picture>
        </li>
        <li class="gallery__swiper-slide swiper-slide">
          <picture class="gallery__item">
            <source class="gallery__item"
              srcset="
                ../src/images/gallery/2gallery1x-des-min.jpg 1x,
                ../src/images/gallery/2gallery2x-des-min.jpg 2x
              "
            />
            <img class="gallery__item"
              src="../src/images/gallery/2gallery1x-des-min.jpg"
              alt="IceCream"
              width="1013"
              height="422"
            />
          </picture>
        </li>
        <li class="gallery__swiper-slide swiper-slide">
          <picture class="gallery__item">
            <source class="gallery__item"
              srcset="
                ../src/images/gallery/3gallery1x-des-min.jpg 1x,
                ../src/images/gallery/3gallery2x-des-min.jpg 2x
              "
            />
            <img class="gallery__item" 
              src="../src/images/gallery/3gallery1x-des-min.jpg"
              alt="IceCream"
              width="1013"
              height="422"
            />
          </picture>
        </li>
      </ul>
    </div>
</section>

