<section class="hero">
  <div class="container">
      <h1 class="hero__title">ice cream made with passion</h1>
      <div class="hero__anchors">
        <a href="#products" class="hero__anchors--link">Products</a>
        <a href="#about" class="hero__anchors--link no-border">
          How it’s made?
        </a>
      </div>
    <a href="#contacts" class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </a>

    <ul class="numbers">
      <li class="numbers__item">
        <p class="numbers__item--number">16</p>
        <p class="numbers__item--text">cafes</p>
      </li>
      <li class="numbers__item">
        <p class="numbers__item--number">23</p>
        <p class="numbers__item--text">food trucks</p>
      </li>
    </ul>

    <picture class="hero__picture-ice-creams-plate">
      <source
        srcset="
          ./images/hero/ice-creams-plate-desk.png    1x,
          ./images/hero/ice-creams-plate-desk-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero/ice-creams-plate-tab.png    1x,
          ./images/hero/ice-creams-plate-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />

      <img
        class="hero__images"
        src="./images/hero/ice-creams-plate-desk.png"
        alt="ice-creams plate"
        width="225"
        height="225"
      />
    </picture>
    <picture class="hero__picture--blur">
      <source
        srcset="
          ./images/hero/blur-desk.png    1x,
          ./images/hero/blur-desk-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="./images/hero/blur-tab.png 1x, ./images/hero/blur-tab-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero/blur-mob.png 1x, ./images/hero/blur-mob-2x.png 2x"
        media="(max-width: 767px)"
      />

      <img src="./images/hero/blur-desk.png" alt="blur" width="477" />
    </picture>

    <picture class="hero__picture--ice-craem-smiles">
      <source
        srcset="
          ./images/hero/ice-cream-smiles-desk.png    1x,
          ./images/hero/ice-cream-smiles-desk-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-smiles-tab.png    1x,
          ./images/hero/ice-cream-smiles-tab-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-smiles-mob.png    1x,
          ./images/hero/ice-cream-smiles-mob-2x.png 2x
        "
        media="(max-width: 767px)"
      />

      <img
        src="./images/hero/ice-cream-smiles-desk.png"
        alt="ice-cream smiles"
        width="456"
        height="560"
      />
    </picture>
  </div>
</section>
