.review__swiper {
  text-align: center;
}

.review__icon {
  border-radius: 50%;
  display: inline-block;
}

.review__text {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 35px 39px;
  border-radius: 10px;
  align-content: center;
  min-height: 256px;

  font-size: 12px;
  line-height: calc(31 / 12);

  background-color: #84a178;
  color: #fcfcfc;

  @media screen and (min-width: 480px) {
    min-height: 138px;
  }

  @media screen and (min-width: 768px) {
    min-height: 138px;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.04em;
    font-weight: 500;
    padding: 29px 80px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
    padding: 43px 109px;
  }
}

.review__address {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);

  margin-bottom: 24px;

  color: #131313;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #989898;
  color: #989898;
  margin-top: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #84a178;
}
