.footer__footer-box{
    width: 100%;
    height: 392px;
    @include tablet{
        height: 265px;
    }
    @include desktop {
        height: 182px;
    }
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom:40px;
    @include tablet{
        gap:0;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 32px;
    }
    @include desktop {
        padding-bottom: 60px;
    }
    border-bottom: 1px solid #E1E1E1;
}
.footer__title-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 238px;
    text-align: left;
    @include tablet{
        gap:8px;
        width: 352px;
    }
    @include desktop{
        gap: 14px;    
        width: 504px;
    }
}
.footer__title {
    font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(22 / 18);
        height: 42px;
    @include tablet{
        font-weight: 700;
        font-size: 26px;
        line-height: calc(32 / 26);   
        letter-spacing: 0.04em;
        height: 57px;
    }
    @include desktop{
        font-weight: 400;
        font-size: 30px;
        line-height: calc(37 / 30);
        height: 37px;
    }
    text-transform: uppercase;
    color: #FCFCFC;
}
.footer__accent {
    font-weight: 700;
        font-size: 34px;
        line-height: calc(41 / 34);
        letter-spacing: 0.04em;
        height: 76px;
    @include tablet{
        font-size: 48px;
        line-height: calc(59 / 48);
        letter-spacing: 0.06em;
        height: 118px;    
    }
    @include desktop{
        font-size: 58px;
        line-height: calc(71 / 58);
        height: 71px;
    }
    text-transform: uppercase;
    color: #FCFCFC;
}
.footer__box-bottom {
    display: flex;
    flex-direction: column;
    justify-items: right;
        gap: 20px;
    @include tablet{
        gap:32px;
        margin-top: 63px;
        margin-bottom: auto;
    }
    @include desktop{
        gap: 40px;
        margin-top:0;
        margin-bottom: 0;
        align-items: flex-end;
    }
}
.footer__soc-box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
    @include tablet{
    gap: 30px;
    }
    @include tablet {
        gap: 30px;
    }
}
.soc-link-list{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center; 
    @include desktop{
    gap: 30px;
    }
}
.soc-link {
    font-size: 0;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: $primaryBgColor;
    background-color: $accentColor;
    transition: color $durationTiming, background-color $durationTiming; 
    &:hover,
    &:focus{
        color: $primaryTextColor;
    }
} 
.icon-soc {
    border: none;
    fill: currentColor;
    transition: fill $durationTiming;
        &:hover,
        &:focus {
            fill: currentColor;
        }
}
.footer__phone-box {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-left: auto;
}
.footer__phone-title, .phone-link {
    font-weight: 700;
    font-size: 12px;
    line-height: calc(22 / 12);
    letter-spacing: 0.02em;
    @include tablet{
        font-size: 14px;
        line-height: calc(26 / 14);
    }
    @include desktop{
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}
.phone-link {
    color: #FCFCFC;
}
.footer__phone-title {
    color: #131313;
}

.footer__copyright-box {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 158px;
    @include tablet{
        padding-top: 12px;
        padding-bottom: 12px;  
        width: 298px;
    }
}
.footer__copyright-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14);
    letter-spacing: 0.02em;
    color: #7A7A7A;
    @include tablet{
        line-height: calc(26 / 14);     
    }
    @include desktop {
        font-size: 12;
        line-height: calc(22 / 12) ;
    }
}