.header {
  position: relative;
  background-color: #85a279;
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
  height: 99px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  @media screen and (min-width: 1200px) {
    height: 104px;
  }
}

.logo {
  position: absolute;
  top: 12px;
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
    top: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
    top: 8px;
  }
}

.logo__icon {
  position: absolute;
  fill: #f8d24e;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.navigation {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navigation__list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;

    gap: 28px;
    justify-content: center;
    align-items: center;
  }
}

.navigation__link {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #fcfcfc;
  padding: 5px;
  transition: color $durationTiming;

  &:hover {
    color: #f8d24e;
  }

  &:focus {
    outline: 2px solid #f8d24e;
    border-radius: 8px;
  }
}

.header__btn {
  display: none;
  position: relative;
  border: 0;
  transition: color $durationTiming, background-color $durationTiming;

  @media screen and (min-width: 768px) {
    position: absolute;
    display: flex;
    margin-left: auto;
    right: 32px;
    top: 24px;
    z-index: 1;

    min-width: 152px;
    padding: 12px 51px 12px 36px;
  }

  @media screen and (min-width: 1200px) {
    right: 16px;
    top: 28px;

    font-size: 14px;
    line-height: calc(17 / 14);

   
  }

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    color: #ffffff;
    border: transparent;
    outline: transparent;
  }
}

.menu-open,
.menu-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  z-index: 1;

  position: absolute;
  top: 16px;
  right: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 32px;
  height: 32px;
  fill: #ffffff;

  @media screen and (min-width: 768px) {
    top: 29px;
    right: 216px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-close {
  fill: #fcfcfc;

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.header__icon {
  position: absolute;
  display: inline-block;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;

  fill: currentColor;

  @media screen and (min-width: 768px) {
    right: 35px;
  }
}

.mob-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;

  background-color: #85a279;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-menu__top {
  padding-top: 100px;
  padding-bottom: 64px;
  position: relative;
  max-width: 480px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    padding-top: 140px;
  }
}


.mob-menu.is-hidden .mob-menu__top {
  transform: translate(-50%);
}

.mob-menu__top {
  transform: translate(0%);
  transition: transform 300ms linear;
  transition-timing-function: linear;
}

.mob-menu__logo {
  position: absolute;
  left: 32px;
  top: 12px;
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
    top: 20px;
  }
}

.menu__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  align-items: center;
}

.mob-menu__list {
  text-align: center;
  justify-content: center;
 
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: #fcfcfc;

  transition: color $durationTiming;

  &:hover {
    color: #131313;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
 
  &:focus {
    outline: 2px solid #f8d24e;
    border-radius: 8px;
  }
}

.mob-menu__btn {
  min-width: 152px;
  padding: 12px 35px 12px 36px;
  border: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  transition: color $durationTiming, background-color $durationTiming;

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    color: #ffffff;
  }
}

.mob-menu__icon {
  margin-left: 4px;
  fill: currentColor;
}

.modal__backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}


.product-card {
  height: 100%;
  border-radius: 10px;
  overflow: auto;

  @include tablet {
    height: 644px;
    overflow: hidden;
  }
  
}

.product-card__title {
  font-family: $secondaryFontFam;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #131313;

  text-align: center;
  margin-top: 32px;

  
  @include tablet {
    font-size: 20px;
  line-height: calc(28 / 20);
  }
}

.product-card__list {
  margin-top: 83px;
  margin-bottom: 28px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 168px;
    justify-content: center;
    gap: 32px;

    margin-top: 103px;
    margin-bottom: 40px;
  }
}

.product-card__text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.004em;
  text-transform: uppercase;
  text-align: center;

  color: #131313;
}

.product-card__item {
  width: 100%;
  max-width: 132px;
  height: 136px;

  border-radius: 16px;

  margin-left: auto;
  margin-right: auto;

  position: relative;

  padding: 96px 13px 20px;
  border-radius: 16px;

  &:nth-child(3n + 1) {
    border: 2px solid #aec6a5;
  }
  &:nth-child(3n + 2) {
    background: #efd478;
  }
  &:nth-child(3n + 3) {
    border: 2px solid #d6936d;
  }

  &:not(:last-child) {
    margin-bottom: 83px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  @include tablet {
    margin-left: 0;
    margin-right: 0;
  }
}

.product-card__item::before {
  content: '';
  width: 132px;
  height: 132px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -56px;
  left: calc(50% - 132px / 2);
}

.product-card__item1::before {
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);

  @include desktop {
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
  }
}

.product-card__item2::before {
  box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);

  @include desktop {
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }
}

.product-card__item3::before {
  background-color: rgba(213, 117, 63, 0.7);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  @include desktop {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.product-card__item::after {
  content: '';
  width: 132px;
  height: 132px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 132px / 2);
  top: -64px;

  background-size: cover;
}

.product-card__item1::after {
  background-image: url(../images/product/prod_1-mob-1x-min.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product/prod_1-mob-2x-min.jpg);
  }

  @include desktop {
    background-image: url(../images/product/prod_1-desk-1x-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/product/prod_1-desk-1x-min.jpg);
    }
  }
}

.product-card__item2::after {
  background-image: url(../images/product/prod_2-mob-1x-min.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product/prod_2-mob-2x-min.jpg);
  }

  @include desktop {
    background-image: url(../images/product/prod_2-desk-1x-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/product/prod_2-desk-2x-min.jpg);
    }
  }
}

.product-card__item3::after {
  background-image: url(../images/product/prod_3-mob-1x-min.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product/prod_3-mob-2x-min.jpg);
  }

  @include desktop {
    background-image: url(../images/product/prod_3-desk-1x-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/product/prod_3-desk-2x-min.jpg);
    }
  }
}


textarea {
  resize: none;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 28px 28px 28px;

  @include mobile {
    padding: 0 100px 32px 100px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field:not(:last-child) {
  margin-bottom: 16px;
}


.form-field textarea {
  width: 100%;
  margin: 0;
  padding: 11px 16px;
  border-radius: 10px;
  outline: 1px solid #84A178;
  border: transparent;
  background-color: rgba(248, 210, 78, 0.1);

  &::placeholder {
    font-family: $primaryFontFam;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(12 / 12);
  
    color: #131313;

    @include tablet {
      font-size: 14px;
    line-height: calc(16 / 14);
    }
}
}

.product-card__btn {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(17 / 12);

  @include tablet {
    margin-top: 32px;
  }

  transition: color $durationTiming, background-color $durationTiming;

  &:hover {
    background-color: #0a8817;
    border: 2px solid #0a8817;
    outline: transparent;
  }

  &:focus {
    background-color: #0a8817;
    color: #ffffff;
    border: 2px solid #0a8817;
    outline: transparent;
  }
}
